<navbar>
    <div style="display: flex; flex-flow: row; align-items: end; justify-content: flex-end;
  margin: 8px 12px;">
        <a href="index.html"><img src="images/logo.png" height="48px"></a>
        <div style="flex: 1;"></div>

        <a class="btn btn-primary" style="color: black; background-color: transparent;"
            href="resources.html">Resources</a>
        <a class="btn btn-primary" style="color: black; background-color: transparent;" href="rules.html">Rules</a>
        <a class="btn btn-primary" style="color: black; background-color: transparent;" href="help.html">Help Desk</a>

        <a class="btn btn-primary" style="color: black; background-color: transparent;" href="login.html">Log in</a>
        <a class="btn btn-primary" href="login.html">Sign up</a>
</navbar>